# Normalizing the data

In [2]:
import pandas as pd

Importing all the datasets.

In [5]:
listings_1 = pd.read_csv('data/listings_1.csv')

In [6]:
listings_2 = pd.read_csv('data/listings_2.csv')

In [7]:
listings_3 = pd.read_csv('data/listings_3.csv')

In [8]:
listings_4 = pd.read_csv('data/listings_4.csv')

Concatenating the data into one single dataset.

In [9]:
listings = pd.concat([listings_1, listings_2, listings_3, listings_4], axis=0, ignore_index=True)

In [10]:
listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,464384,https://www.airbnb.com/rooms/464384,20231217045019,2023-12-17,city scrape,Rental unit in Winnipeg · ★4.40 · 3 bedrooms ·...,NaN,Mainly I am surrounded by good neighbours and ...,https://a0.muscache.com/pictures/897a38b2-1ec6...,955449,...,4.77,4.66,4.57,NaN,f,1,1,0,0,0.69
1,1526583,https://www.airbnb.com/rooms/1526583,20231217045019,2023-12-17,city scrape,Bungalow in Winnipeg · ★4.71 · 3 bedrooms · 4 ...,NaN,This side by side home is very close to many b...,https://a0.muscache.com/pictures/1d892075-465e...,8145510,...,4.85,4.91,4.85,NaN,f,5,0,5,0,0.55
2,1529013,https://www.airbnb.com/rooms/1529013,20231217045019,2023-12-17,city scrape,Guest suite in Winnipeg · ★4.84 · Studio · 1 b...,NaN,"There are so many options close by. Cafés, bar...",https://a0.muscache.com/pictures/65078910-8019...,4997811,...,4.98,4.90,4.91,NaN,f,4,4,0,0,1.20
3,1559076,https://www.airbnb.com/rooms/1559076,20231217045019,2023-12-17,city scrape,Condo in Winnipeg · ★4.93 · 1 bedroom · 1 bed ...,NaN,The condo is located in the upscale neighborho...,https://a0.muscache.com/pictures/22758304/568f...,970192,...,4.93,4.85,4.89,NaN,f,1,1,0,0,0.23
4,1664166,https://www.airbnb.com/rooms/1664166,20231217045019,2023-12-17,city scrape,Home in Winnipeg · ★4.83 · 5 bedrooms · 5 beds...,NaN,We are located in beautiful Old St. Vital. We ...,https://a0.muscache.com/pictures/5265beda-ab9f...,8288997,...,4.93,4.69,4.82,NaN,f,1,1,0,0,1.27

In [11]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7040 entries, 0 to 7039
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7040 non-null   int64
 1   listing_url                                   7040 non-null   object
 2   scrape_id                                     7040 non-null   int64
 3   last_scraped                                  7040 non-null   object
 4   source                                        7040 non-null   object
 5   name                                          7040 non-null   object
 6   description                                   5091 non-null   object
 7   neighborhood_overview                         4012 non-null   object
 8   picture_url                                   7040 non-null   object
 9   host_id                                       7040 non-null   int64
 10  host_url                                      7040 non-null   object
 11  host_name                                     7040 non-null   object
 12  host_since                                    7040 non-null   object
 13  host_location                                 5258 non-null   object
 14  host_about                                    3423 non-null   object
 15  host_response_time                            6216 non-null   object
 16  host_response_rate                            6216 non-null   object
 17  host_acceptance_rate                          6553 non-null   object
 18  host_is_superhost                             6574 non-null   object
 19  host_thumbnail_url                            7040 non-null   object
 20  host_picture_url                              7040 non-null   object
 21  host_neighbourhood                            6098 non-null   object
 22  host_listings_count                           7040 non-null   int64
 23  host_total_listings_count                     7040 non-null   int64
 24  host_verifications                            7040 non-null   object
 25  host_has_profile_pic                          7040 non-null   object
 26  host_identity_verified                        7040 non-null   object
 27  neighbourhood                                 4012 non-null   object
 28  neighbourhood_cleansed                        7040 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7040 non-null   float64
 31  longitude                                     7040 non-null   float64
 32  property_type                                 7040 non-null   object
 33  room_type                                     7040 non-null   object
 34  accommodates                                  7040 non-null   int64
 35  bathrooms                                     1598 non-null   float64
 36  bathrooms_text                                7037 non-null   object
 37  bedrooms                                      4109 non-null   float64
 38  beds                                          6770 non-null   float64
 39  amenities                                     7040 non-null   object
 40  price                                         6744 non-null   object
 41  minimum_nights                                7040 non-null   int64
 42  maximum_nights                                7040 non-null   int64
 43  minimum_minimum_nights                        7040 non-null   int64
 44  maximum_minimum_nights                        7040 non-null   int64
 45  minimum_maximum_nights                        7040 non-null   int64
 46  maximum_maximum_nights                        7040 non-null   int64
 47  minimum_nights_avg_ntm                        7040 non-null   float64
 48  maximum_nights_avg_ntm                        7040 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6909 non-null   object
 51  availability_30                               7040 non-null   int64
 52  availability_60                               7040 non-null   int64
 53  availability_90                               7040 non-null   int64
 54  availability_365                              7040 non-null   int64
 55  calendar_last_scraped                         7040 non-null   object
 56  number_of_reviews                             7040 non-null   int64
 57  number_of_reviews_ltm                         7040 non-null   int64
 58  number_of_reviews_l30d                        7040 non-null   int64
 59  first_review                                  6018 non-null   object
 60  last_review                                   6018 non-null   object
 61  review_scores_rating                          6018 non-null   float64
 62  review_scores_accuracy                        6012 non-null   float64
 63  review_scores_cleanliness                     6009 non-null   float64
 64  review_scores_checkin                         6012 non-null   float64
 65  review_scores_communication                   6012 non-null   float64
 66  review_scores_location                        6012 non-null   float64
 67  review_scores_value                           6012 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              7040 non-null   object
 70  calculated_host_listings_count                7040 non-null   int64
 71  calculated_host_listings_count_entire_homes   7040 non-null   int64
 72  calculated_host_listings_count_private_rooms  7040 non-null   int64
 73  calculated_host_listings_count_shared_rooms   7040 non-null   int64
 74  reviews_per_month                             6018 non-null   float64
dtypes: float64(18), int64(23), object(34)
memory usage: 4.0+ MB

Looking for null values.

In [12]:
listings.isnull().sum()

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1022
Length: 75, dtype: int64

Finding and dropping the columns that have missing values.

In [14]:
ls = [col for col in listings.columns if listings[col].isnull().sum() > 1500 and not col in ['bedrooms', 'bathrooms']]
ls

['description',
 'neighborhood_overview',
 'host_location',
 'host_about',
 'neighbourhood',
 'neighbourhood_group_cleansed',
 'calendar_updated',
 'license']

In [15]:
listings.drop(['host_location'
               , 'host_about'
               , 'neighbourhood'
               , 'description'
               , 'neighborhood_overview'
               , 'neighbourhood_group_cleansed'
               , 'calendar_updated'
               , 'license'],axis=1, inplace=True)

In [17]:
listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,picture_url,host_id,host_url,host_name,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,464384,https://www.airbnb.com/rooms/464384,20231217045019,2023-12-17,city scrape,Rental unit in Winnipeg · ★4.40 · 3 bedrooms ·...,https://a0.muscache.com/pictures/897a38b2-1ec6...,955449,https://www.airbnb.com/users/show/955449,Silvio,...,4.81,4.77,4.66,4.57,f,1,1,0,0,0.69
1,1526583,https://www.airbnb.com/rooms/1526583,20231217045019,2023-12-17,city scrape,Bungalow in Winnipeg · ★4.71 · 3 bedrooms · 4 ...,https://a0.muscache.com/pictures/1d892075-465e...,8145510,https://www.airbnb.com/users/show/8145510,Ruth,...,4.82,4.85,4.91,4.85,f,5,0,5,0,0.55
2,1529013,https://www.airbnb.com/rooms/1529013,20231217045019,2023-12-17,city scrape,Guest suite in Winnipeg · ★4.84 · Studio · 1 b...,https://a0.muscache.com/pictures/65078910-8019...,4997811,https://www.airbnb.com/users/show/4997811,Rebecca,...,4.98,4.98,4.90,4.91,f,4,4,0,0,1.20
3,1559076,https://www.airbnb.com/rooms/1559076,20231217045019,2023-12-17,city scrape,Condo in Winnipeg · ★4.93 · 1 bedroom · 1 bed ...,https://a0.muscache.com/pictures/22758304/568f...,970192,https://www.airbnb.com/users/show/970192,Colleen,...,5.00,4.93,4.85,4.89,f,1,1,0,0,0.23
4,1664166,https://www.airbnb.com/rooms/1664166,20231217045019,2023-12-17,city scrape,Home in Winnipeg · ★4.83 · 5 bedrooms · 5 beds...,https://a0.muscache.com/pictures/5265beda-ab9f...,8288997,https://www.airbnb.com/users/show/8288997,Richard,...,4.92,4.93,4.69,4.82,f,1,1,0,0,1.27

Looking at the reviews data.

In [94]:
for col in listings.columns:
    if 'review' in col:
        print(listings[col].value_counts())

number_of_reviews
0      1022
1       421
2       320
3       298
4       213
       ...
167       1
404       1
197       1
278       1
250       1
Name: count, Length: 319, dtype: int64
number_of_reviews_ltm
0      1504
1       511
2       428
3       367
4       327
       ...
151       1
117       1
94        1
104       1
150       1
Name: count, Length: 141, dtype: int64
number_of_reviews_l30d
0     3961
1     1183
2      721
3      420
4      243
5      186
6      114
7       67
8       42
9       27
10      24
11      14
12      12
13       8
14       6
15       3
16       2
18       2
19       2
28       1
23       1
21       1
Name: count, dtype: int64
first_review
2023-03-31    29
2023-02-19    26
2022-08-01    25
2022-10-09    24
2022-10-02    23
              ..
2021-09-24     1
2021-12-25     1
2021-08-24     1
2022-02-19     1
2024-03-06     1
Name: count, Length: 1166, dtype: int64
last_review
2023-09-04    109
2023-06-04     83
2024-03-17     81
2023-08-27     79
2023-11-19     75
             ...
2021-10-03      1
2021-08-30      1
2022-04-30      1
2023-03-15      1
2024-01-12      1
Name: count, Length: 627, dtype: int64
review_scores_rating
5.00    1411
4.67     177
4.88     177
4.89     165
4.80     159
        ...
4.04       1
3.33       1
3.70       1
3.25       1
2.33       1
Name: count, Length: 113, dtype: int64
review_scores_accuracy
5.00    1511
4.88     187
4.91     166
4.89     160
4.94     159
        ...
4.39       1
4.05       1
4.07       1
3.75       1
3.83       1
Name: count, Length: 102, dtype: int64
review_scores_cleanliness
5.00    1577
4.88     170
4.83     155
4.50     155
4.80     148
        ...
4.05       1
3.57       1
4.12       1
4.21       1
2.33       1
Name: count, Length: 117, dtype: int64
review_scores_checkin
5.00    1906
4.88     237
4.95     220
4.93     212
4.92     178
        ...
4.23       1
3.83       1
4.28       1
4.34       1
2.33       1
Name: count, Length: 93, dtype: int64
review_scores_communication
5.00    2124
4.92     195
4.91     184
4.93     180
4.96     177
        ...
4.16       1
4.24       1
4.32       1
4.26       1
3.60       1
Name: count, Length: 97, dtype: int64
review_scores_location
5.00    1321
4.88     218
4.67     185
4.80     173
4.89     173
        ...
4.12       1
4.31       1
4.05       1
4.03       1
3.17       1
Name: count, Length: 124, dtype: int64
review_scores_value
5.00    1246
4.88     195
4.83     183
4.89     172
4.67     169
        ...
4.28       1
3.88       1
3.70       1
3.60       1
2.33       1
Name: count, Length: 113, dtype: int64
reviews_per_month
1.00     136
2.00      67
0.55      40
0.25      37
0.07      35
        ...
6.56       1
6.51       1
6.52       1
11.82      1
5.40       1
Name: count, Length: 777, dtype: int64

Export the clean data.

In [95]:
listings.to_csv("listing_clean.csv")

Extracting host columns into separate table.

In [19]:
host = listings[['host_id'
        , 'host_name'
        , 'host_since'
        , 'host_is_superhost'
        , 'host_response_time'
        , 'host_response_rate'
        , 'host_acceptance_rate'
        , 'host_listings_count'
        , 'host_total_listings_count'
        , 'host_identity_verified']]

Dropping duplicates from the host table.

In [20]:
host.drop_duplicates(inplace=True)

/var/folders/qf/mmc_94c121sdx4j__9n_59qr0000gn/T/ipykernel_37149/2118961686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  host.drop_duplicates(inplace=True)

In [21]:
host.shape

(3018, 10)

Extracting review columns in to separate table.

In [99]:
review = listings[['id',
                   'review_scores_rating'
                  ,'review_scores_accuracy'
                  ,'review_scores_cleanliness'
                  ,'review_scores_checkin'
                  ,'review_scores_communication'
                  ,'review_scores_location'
                  ,'review_scores_value']]

In [100]:
review.shape

(7040, 8)

Extracting review coumns into a separte table.

In [22]:
geo_location = listings[['id'
         , 'latitude'
         , 'longitude'
         , 'neighbourhood_cleansed']]

In [23]:
geo_location.shape

(7040, 4)

In [103]:
geo_location.isnull().sum()

id                        0
latitude                  0
longitude                 0
neighbourhood_cleansed    0
dtype: int64

Extracting neighbourhood coumns into a separte table.

In [25]:
neighbourhood = listings['neighbourhood_cleansed'].unique()

In [26]:
sorted(neighbourhood)

['Charleswood - Tuxedo - Westwood',
 'Daniel McIntyre',
 'Elmwood - East Kildonan',
 'Fort Rouge - East Fort Garry',
 'Mynarski',
 'North Kildonan',
 'Old Kildonan',
 'Point Douglas',
 'River Heights - Fort Garry',
 'St. Boniface',
 'St. James',
 'St. Norbert - Seine River',
 'St. Vital',
 'Transcona',
 'Waverley West']

Creating index for the neighbourhood.

In [106]:
neighbourhoods = pd.DataFrame({'n_id': [i+1 for i in range(len(neighbourhood))]
                             ,'neighbourhood': sorted(neighbourhood)})
neighbourhoods

    n_id                    neighbourhood
0      1  Charleswood - Tuxedo - Westwood
1      2                  Daniel McIntyre
2      3          Elmwood - East Kildonan
3      4     Fort Rouge - East Fort Garry
4      5                         Mynarski
5      6                   North Kildonan
6      7                     Old Kildonan
7      8                    Point Douglas
8      9       River Heights - Fort Garry
9     10                     St. Boniface
10    11                        St. James
11    12        St. Norbert - Seine River
12    13                        St. Vital
13    14                        Transcona
14    15                    Waverley West

Creating a copy of the dataset to be safe.

In [107]:
safe_copy = listings.copy(deep=True)

In [108]:
listings.drop(['latitude'
         , 'longitude'], axis=1, inplace=True)

In [109]:
listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,picture_url,host_id,host_url,host_name,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,464384,https://www.airbnb.com/rooms/464384,20231217045019,2023-12-17,city scrape,Rental unit in Winnipeg · ★4.40 · 3 bedrooms ·...,https://a0.muscache.com/pictures/897a38b2-1ec6...,955449,https://www.airbnb.com/users/show/955449,Silvio,...,4.81,4.77,4.66,4.57,f,1,1,0,0,0.69
1,1526583,https://www.airbnb.com/rooms/1526583,20231217045019,2023-12-17,city scrape,Bungalow in Winnipeg · ★4.71 · 3 bedrooms · 4 ...,https://a0.muscache.com/pictures/1d892075-465e...,8145510,https://www.airbnb.com/users/show/8145510,Ruth,...,4.82,4.85,4.91,4.85,f,5,0,5,0,0.55
2,1529013,https://www.airbnb.com/rooms/1529013,20231217045019,2023-12-17,city scrape,Guest suite in Winnipeg · ★4.84 · Studio · 1 b...,https://a0.muscache.com/pictures/65078910-8019...,4997811,https://www.airbnb.com/users/show/4997811,Rebecca,...,4.98,4.98,4.90,4.91,f,4,4,0,0,1.20
3,1559076,https://www.airbnb.com/rooms/1559076,20231217045019,2023-12-17,city scrape,Condo in Winnipeg · ★4.93 · 1 bedroom · 1 bed ...,https://a0.muscache.com/pictures/22758304/568f...,970192,https://www.airbnb.com/users/show/970192,Colleen,...,5.00,4.93,4.85,4.89,f,1,1,0,0,0.23
4,1664166,https://www.airbnb.com/rooms/1664166,20231217045019,2023-12-17,city scrape,Home in Winnipeg · ★4.83 · 5 bedrooms · 5 beds...,https://a0.muscache.com/pictures/5265beda-ab9f...,8288997,https://www.airbnb.com/users/show/8288997,Richard,...,4.92,4.93,4.69,4.82,f,1,1,0,0,1.27

In [110]:
safe_copy.head()

,id,listing_url,scrape_id,last_scraped,source,name,picture_url,host_id,host_url,host_name,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,464384,https://www.airbnb.com/rooms/464384,20231217045019,2023-12-17,city scrape,Rental unit in Winnipeg · ★4.40 · 3 bedrooms ·...,https://a0.muscache.com/pictures/897a38b2-1ec6...,955449,https://www.airbnb.com/users/show/955449,Silvio,...,4.81,4.77,4.66,4.57,f,1,1,0,0,0.69
1,1526583,https://www.airbnb.com/rooms/1526583,20231217045019,2023-12-17,city scrape,Bungalow in Winnipeg · ★4.71 · 3 bedrooms · 4 ...,https://a0.muscache.com/pictures/1d892075-465e...,8145510,https://www.airbnb.com/users/show/8145510,Ruth,...,4.82,4.85,4.91,4.85,f,5,0,5,0,0.55
2,1529013,https://www.airbnb.com/rooms/1529013,20231217045019,2023-12-17,city scrape,Guest suite in Winnipeg · ★4.84 · Studio · 1 b...,https://a0.muscache.com/pictures/65078910-8019...,4997811,https://www.airbnb.com/users/show/4997811,Rebecca,...,4.98,4.98,4.90,4.91,f,4,4,0,0,1.20
3,1559076,https://www.airbnb.com/rooms/1559076,20231217045019,2023-12-17,city scrape,Condo in Winnipeg · ★4.93 · 1 bedroom · 1 bed ...,https://a0.muscache.com/pictures/22758304/568f...,970192,https://www.airbnb.com/users/show/970192,Colleen,...,5.00,4.93,4.85,4.89,f,1,1,0,0,0.23
4,1664166,https://www.airbnb.com/rooms/1664166,20231217045019,2023-12-17,city scrape,Home in Winnipeg · ★4.83 · 5 bedrooms · 5 beds...,https://a0.muscache.com/pictures/5265beda-ab9f...,8288997,https://www.airbnb.com/users/show/8288997,Richard,...,4.92,4.93,4.69,4.82,f,1,1,0,0,1.27

In [111]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7040 entries, 0 to 7039
Data columns (total 65 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7040 non-null   int64
 1   listing_url                                   7040 non-null   object
 2   scrape_id                                     7040 non-null   int64
 3   last_scraped                                  7040 non-null   object
 4   source                                        7040 non-null   object
 5   name                                          7040 non-null   object
 6   picture_url                                   7040 non-null   object
 7   host_id                                       7040 non-null   int64
 8   host_url                                      7040 non-null   object
 9   host_name                                     7040 non-null   object
 10  host_since                                    7040 non-null   object
 11  host_response_time                            6216 non-null   object
 12  host_response_rate                            6216 non-null   object
 13  host_acceptance_rate                          6553 non-null   object
 14  host_is_superhost                             6574 non-null   object
 15  host_thumbnail_url                            7040 non-null   object
 16  host_picture_url                              7040 non-null   object
 17  host_neighbourhood                            6098 non-null   object
 18  host_listings_count                           7040 non-null   int64
 19  host_total_listings_count                     7040 non-null   int64
 20  host_verifications                            7040 non-null   object
 21  host_has_profile_pic                          7040 non-null   object
 22  host_identity_verified                        7040 non-null   object
 23  neighbourhood_cleansed                        7040 non-null   object
 24  property_type                                 7040 non-null   object
 25  room_type                                     7040 non-null   object
 26  accommodates                                  7040 non-null   int64
 27  bathrooms                                     1598 non-null   float64
 28  bathrooms_text                                7037 non-null   object
 29  bedrooms                                      4109 non-null   float64
 30  beds                                          6770 non-null   float64
 31  amenities                                     7040 non-null   object
 32  price                                         6744 non-null   object
 33  minimum_nights                                7040 non-null   int64
 34  maximum_nights                                7040 non-null   int64
 35  minimum_minimum_nights                        7040 non-null   int64
 36  maximum_minimum_nights                        7040 non-null   int64
 37  minimum_maximum_nights                        7040 non-null   int64
 38  maximum_maximum_nights                        7040 non-null   int64
 39  minimum_nights_avg_ntm                        7040 non-null   float64
 40  maximum_nights_avg_ntm                        7040 non-null   float64
 41  has_availability                              6909 non-null   object
 42  availability_30                               7040 non-null   int64
 43  availability_60                               7040 non-null   int64
 44  availability_90                               7040 non-null   int64
 45  availability_365                              7040 non-null   int64
 46  calendar_last_scraped                         7040 non-null   object
 47  number_of_reviews                             7040 non-null   int64
 48  number_of_reviews_ltm                         7040 non-null   int64
 49  number_of_reviews_l30d                        7040 non-null   int64
 50  first_review                                  6018 non-null   object
 51  last_review                                   6018 non-null   object
 52  review_scores_rating                          6018 non-null   float64
 53  review_scores_accuracy                        6012 non-null   float64
 54  review_scores_cleanliness                     6009 non-null   float64
 55  review_scores_checkin                         6012 non-null   float64
 56  review_scores_communication                   6012 non-null   float64
 57  review_scores_location                        6012 non-null   float64
 58  review_scores_value                           6012 non-null   float64
 59  instant_bookable                              7040 non-null   object
 60  calculated_host_listings_count                7040 non-null   int64
 61  calculated_host_listings_count_entire_homes   7040 non-null   int64
 62  calculated_host_listings_count_private_rooms  7040 non-null   int64
 63  calculated_host_listings_count_shared_rooms   7040 non-null   int64
 64  reviews_per_month                             6018 non-null   float64
dtypes: float64(13), int64(23), object(29)
memory usage: 3.5+ MB

In [112]:
review['reviews_per_month'] = listings['reviews_per_month']

/var/folders/qf/mmc_94c121sdx4j__9n_59qr0000gn/T/ipykernel_28994/4206727212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['reviews_per_month'] = listings['reviews_per_month']

In [113]:
review.head()

,id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,464384,4.40,4.47,4.47,4.81,4.77,4.66,4.57,0.69
1,1526583,4.71,4.71,4.53,4.82,4.85,4.91,4.85,0.55
2,1529013,4.84,4.92,4.96,4.98,4.98,4.90,4.91,1.20
3,1559076,4.93,5.00,4.89,5.00,4.93,4.85,4.89,0.23
4,1664166,4.83,4.88,4.80,4.92,4.93,4.69,4.82,1.27

In [114]:
review.dropna(inplace=True)

/var/folders/qf/mmc_94c121sdx4j__9n_59qr0000gn/T/ipykernel_28994/883385913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review.dropna(inplace=True)

In [115]:
review.to_csv("air_review.csv")

In [116]:
listings.drop(['reviews_per_month'], axis=1, inplace=True)

In [117]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7040 entries, 0 to 7039
Data columns (total 64 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7040 non-null   int64
 1   listing_url                                   7040 non-null   object
 2   scrape_id                                     7040 non-null   int64
 3   last_scraped                                  7040 non-null   object
 4   source                                        7040 non-null   object
 5   name                                          7040 non-null   object
 6   picture_url                                   7040 non-null   object
 7   host_id                                       7040 non-null   int64
 8   host_url                                      7040 non-null   object
 9   host_name                                     7040 non-null   object
 10  host_since                                    7040 non-null   object
 11  host_response_time                            6216 non-null   object
 12  host_response_rate                            6216 non-null   object
 13  host_acceptance_rate                          6553 non-null   object
 14  host_is_superhost                             6574 non-null   object
 15  host_thumbnail_url                            7040 non-null   object
 16  host_picture_url                              7040 non-null   object
 17  host_neighbourhood                            6098 non-null   object
 18  host_listings_count                           7040 non-null   int64
 19  host_total_listings_count                     7040 non-null   int64
 20  host_verifications                            7040 non-null   object
 21  host_has_profile_pic                          7040 non-null   object
 22  host_identity_verified                        7040 non-null   object
 23  neighbourhood_cleansed                        7040 non-null   object
 24  property_type                                 7040 non-null   object
 25  room_type                                     7040 non-null   object
 26  accommodates                                  7040 non-null   int64
 27  bathrooms                                     1598 non-null   float64
 28  bathrooms_text                                7037 non-null   object
 29  bedrooms                                      4109 non-null   float64
 30  beds                                          6770 non-null   float64
 31  amenities                                     7040 non-null   object
 32  price                                         6744 non-null   object
 33  minimum_nights                                7040 non-null   int64
 34  maximum_nights                                7040 non-null   int64
 35  minimum_minimum_nights                        7040 non-null   int64
 36  maximum_minimum_nights                        7040 non-null   int64
 37  minimum_maximum_nights                        7040 non-null   int64
 38  maximum_maximum_nights                        7040 non-null   int64
 39  minimum_nights_avg_ntm                        7040 non-null   float64
 40  maximum_nights_avg_ntm                        7040 non-null   float64
 41  has_availability                              6909 non-null   object
 42  availability_30                               7040 non-null   int64
 43  availability_60                               7040 non-null   int64
 44  availability_90                               7040 non-null   int64
 45  availability_365                              7040 non-null   int64
 46  calendar_last_scraped                         7040 non-null   object
 47  number_of_reviews                             7040 non-null   int64
 48  number_of_reviews_ltm                         7040 non-null   int64
 49  number_of_reviews_l30d                        7040 non-null   int64
 50  first_review                                  6018 non-null   object
 51  last_review                                   6018 non-null   object
 52  review_scores_rating                          6018 non-null   float64
 53  review_scores_accuracy                        6012 non-null   float64
 54  review_scores_cleanliness                     6009 non-null   float64
 55  review_scores_checkin                         6012 non-null   float64
 56  review_scores_communication                   6012 non-null   float64
 57  review_scores_location                        6012 non-null   float64
 58  review_scores_value                           6012 non-null   float64
 59  instant_bookable                              7040 non-null   object
 60  calculated_host_listings_count                7040 non-null   int64
 61  calculated_host_listings_count_entire_homes   7040 non-null   int64
 62  calculated_host_listings_count_private_rooms  7040 non-null   int64
 63  calculated_host_listings_count_shared_rooms   7040 non-null   int64
dtypes: float64(12), int64(23), object(29)
memory usage: 3.4+ MB

In [118]:
listings.drop([col for col in listings.columns if 'calculated' in col], axis=1, inplace=True)

In [119]:
listings.drop([col for col in listings.columns if 'host' in col and not col == 'host_id'], axis=1, inplace=True)

In [120]:
listings.drop([col for col in listings.columns if 'review' in col], axis=1, inplace=True)

In [121]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7040 entries, 0 to 7039
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      7040 non-null   int64
 1   listing_url             7040 non-null   object
 2   scrape_id               7040 non-null   int64
 3   last_scraped            7040 non-null   object
 4   source                  7040 non-null   object
 5   name                    7040 non-null   object
 6   picture_url             7040 non-null   object
 7   host_id                 7040 non-null   int64
 8   neighbourhood_cleansed  7040 non-null   object
 9   property_type           7040 non-null   object
 10  room_type               7040 non-null   object
 11  accommodates            7040 non-null   int64
 12  bathrooms               1598 non-null   float64
 13  bathrooms_text          7037 non-null   object
 14  bedrooms                4109 non-null   float64
 15  beds                    6770 non-null   float64
 16  amenities               7040 non-null   object
 17  price                   6744 non-null   object
 18  minimum_nights          7040 non-null   int64
 19  maximum_nights          7040 non-null   int64
 20  minimum_minimum_nights  7040 non-null   int64
 21  maximum_minimum_nights  7040 non-null   int64
 22  minimum_maximum_nights  7040 non-null   int64
 23  maximum_maximum_nights  7040 non-null   int64
 24  minimum_nights_avg_ntm  7040 non-null   float64
 25  maximum_nights_avg_ntm  7040 non-null   float64
 26  has_availability        6909 non-null   object
 27  availability_30         7040 non-null   int64
 28  availability_60         7040 non-null   int64
 29  availability_90         7040 non-null   int64
 30  availability_365        7040 non-null   int64
 31  calendar_last_scraped   7040 non-null   object
 32  instant_bookable        7040 non-null   object
dtypes: float64(5), int64(14), object(14)
memory usage: 1.8+ MB

In [122]:
room_typ = sorted(list(set(listings['room_type'])))
room_type = pd.DataFrame({'room_type_id': [i+1 for i in range(len(room_typ))]
                         ,'room_type': room_typ})

room_type

   room_type_id        room_type
0             1  Entire home/apt
1             2     Private room
2             3      Shared room

In [123]:
property_typ = sorted(list(set(listings['property_type'])))
property_type = pd.DataFrame({'property_type_id': [i+1 for i in range(len(property_typ))]
                         ,'property_type': property_typ})

property_type

    property_type_id                       property_type
0                  1                                Barn
1                  2                           Camper/RV
2                  3                     Entire bungalow
3                  4                        Entire condo
4                  5                  Entire guest suite
5                  6                   Entire guesthouse
6                  7                         Entire home
7                  8                         Entire loft
8                  9                        Entire place
9                 10                  Entire rental unit
10                11           Entire serviced apartment
11                12                    Entire townhouse
12                13                Entire vacation home
13                14                        Entire villa
14                15   Private room in bed and breakfast
15                16            Private room in bungalow
16                17     Private room in casa particular
17                18               Private room in condo
18                19                Private room in dome
19                20           Private room in farm stay
20                21         Private room in guest suite
21                22          Private room in guesthouse
22                23                Private room in home
23                24              Private room in hostel
24                25                Private room in loft
25                26         Private room in rental unit
26                27  Private room in serviced apartment
27                28           Private room in tiny home
28                29           Private room in townhouse
29                30       Private room in vacation home
30                31               Private room in villa
31                32              Room in boutique hotel
32                33                       Room in hotel
33                34    Shared room in bed and breakfast
34                35             Shared room in bungalow
35                36          Shared room in guest suite
36                37                 Shared room in home
37                38          Shared room in rental unit
38                39   Shared room in shipping container
39                40                                Tent
40                41                           Tiny home
41                42                               Tower

In [124]:
listings.drop(['listing_url'
               , 'scrape_id'
               , 'last_scraped'
               , 'source'
               , 'picture_url'
               , 'amenities'
               , 'calendar_last_scraped'
               , 'bathrooms_text'
               , 'beds'
               , 'neighbourhood_cleansed'], axis=1, inplace=True)

In [125]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7040 entries, 0 to 7039
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      7040 non-null   int64
 1   name                    7040 non-null   object
 2   host_id                 7040 non-null   int64
 3   property_type           7040 non-null   object
 4   room_type               7040 non-null   object
 5   accommodates            7040 non-null   int64
 6   bathrooms               1598 non-null   float64
 7   bedrooms                4109 non-null   float64
 8   price                   6744 non-null   object
 9   minimum_nights          7040 non-null   int64
 10  maximum_nights          7040 non-null   int64
 11  minimum_minimum_nights  7040 non-null   int64
 12  maximum_minimum_nights  7040 non-null   int64
 13  minimum_maximum_nights  7040 non-null   int64
 14  maximum_maximum_nights  7040 non-null   int64
 15  minimum_nights_avg_ntm  7040 non-null   float64
 16  maximum_nights_avg_ntm  7040 non-null   float64
 17  has_availability        6909 non-null   object
 18  availability_30         7040 non-null   int64
 19  availability_60         7040 non-null   int64
 20  availability_90         7040 non-null   int64
 21  availability_365        7040 non-null   int64
 22  instant_bookable        7040 non-null   object
dtypes: float64(4), int64(13), object(6)
memory usage: 1.2+ MB

In [126]:
tables = {'listing': listings
          ,'host': host
          ,'review': review
          ,'geo_location': geo_location
          ,'room_type': room_type
          ,'property_type': property_type
          ,'neighbourhood': neighbourhoods}

for table in tables.keys():
    tables[table].to_csv(f'air_{table}.csv', index=False)

In [127]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7040 entries, 0 to 7039
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      7040 non-null   int64
 1   name                    7040 non-null   object
 2   host_id                 7040 non-null   int64
 3   property_type           7040 non-null   object
 4   room_type               7040 non-null   object
 5   accommodates            7040 non-null   int64
 6   bathrooms               1598 non-null   float64
 7   bedrooms                4109 non-null   float64
 8   price                   6744 non-null   object
 9   minimum_nights          7040 non-null   int64
 10  maximum_nights          7040 non-null   int64
 11  minimum_minimum_nights  7040 non-null   int64
 12  maximum_minimum_nights  7040 non-null   int64
 13  minimum_maximum_nights  7040 non-null   int64
 14  maximum_maximum_nights  7040 non-null   int64
 15  minimum_nights_avg_ntm  7040 non-null   float64
 16  maximum_nights_avg_ntm  7040 non-null   float64
 17  has_availability        6909 non-null   object
 18  availability_30         7040 non-null   int64
 19  availability_60         7040 non-null   int64
 20  availability_90         7040 non-null   int64
 21  availability_365        7040 non-null   int64
 22  instant_bookable        7040 non-null   object
dtypes: float64(4), int64(13), object(6)
memory usage: 1.2+ MB

In [128]:
host.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3018 entries, 0 to 7038
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   host_id                    3018 non-null   int64
 1   host_name                  3018 non-null   object
 2   host_since                 3018 non-null   object
 3   host_is_superhost          2754 non-null   object
 4   host_response_time         2553 non-null   object
 5   host_response_rate         2553 non-null   object
 6   host_acceptance_rate       2741 non-null   object
 7   host_listings_count        3018 non-null   int64
 8   host_total_listings_count  3018 non-null   int64
 9   host_identity_verified     3018 non-null   object
dtypes: int64(3), object(7)
memory usage: 259.4+ KB

In [129]:
review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6009 entries, 0 to 7024
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           6009 non-null   int64
 1   review_scores_rating         6009 non-null   float64
 2   review_scores_accuracy       6009 non-null   float64
 3   review_scores_cleanliness    6009 non-null   float64
 4   review_scores_checkin        6009 non-null   float64
 5   review_scores_communication  6009 non-null   float64
 6   review_scores_location       6009 non-null   float64
 7   review_scores_value          6009 non-null   float64
 8   reviews_per_month            6009 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 469.5 KB

In [130]:
geo_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7040 entries, 0 to 7039
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      7040 non-null   int64
 1   latitude                7040 non-null   float64
 2   longitude               7040 non-null   float64
 3   neighbourhood_cleansed  7040 non-null   object
dtypes: float64(2), int64(1), object(1)
memory usage: 220.1+ KB

In [131]:
neighbourhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   n_id           15 non-null     int64
 1   neighbourhood  15 non-null     object
dtypes: int64(1), object(1)
memory usage: 372.0+ bytes

In [132]:
room_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   room_type_id  3 non-null      int64
 1   room_type     3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [133]:
property_type

    property_type_id                       property_type
0                  1                                Barn
1                  2                           Camper/RV
2                  3                     Entire bungalow
3                  4                        Entire condo
4                  5                  Entire guest suite
5                  6                   Entire guesthouse
6                  7                         Entire home
7                  8                         Entire loft
8                  9                        Entire place
9                 10                  Entire rental unit
10                11           Entire serviced apartment
11                12                    Entire townhouse
12                13                Entire vacation home
13                14                        Entire villa
14                15   Private room in bed and breakfast
15                16            Private room in bungalow
16                17     Private room in casa particular
17                18               Private room in condo
18                19                Private room in dome
19                20           Private room in farm stay
20                21         Private room in guest suite
21                22          Private room in guesthouse
22                23                Private room in home
23                24              Private room in hostel
24                25                Private room in loft
25                26         Private room in rental unit
26                27  Private room in serviced apartment
27                28           Private room in tiny home
28                29           Private room in townhouse
29                30       Private room in vacation home
30                31               Private room in villa
31                32              Room in boutique hotel
32                33                       Room in hotel
33                34    Shared room in bed and breakfast
34                35             Shared room in bungalow
35                36          Shared room in guest suite
36                37                 Shared room in home
37                38          Shared room in rental unit
38                39   Shared room in shipping container
39                40                                Tent
40                41                           Tiny home
41                42                               Tower

In [134]:
review

,id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,464384,4.40,4.47,4.47,4.81,4.77,4.66,4.57,0.69
1,1526583,4.71,4.71,4.53,4.82,4.85,4.91,4.85,0.55
2,1529013,4.84,4.92,4.96,4.98,4.98,4.90,4.91,1.20
3,1559076,4.93,5.00,4.89,5.00,4.93,4.85,4.89,0.23
4,1664166,4.83,4.88,4.80,4.92,4.93,4.69,4.82,1.27
...,...,...,...,...,...,...,...,...,...
7009,1101645730391528402,5.00,5.00,5.00,5.00,5.00,5.00,5.00,2.00
7011,1103227021609053423,5.00,5.00,5.00,5.00,5.00,5.00,5.00,1.00
7012,1103995366154338815,5.00,5.00,5.00,5.00,5.00,5.00,5.00,1.00
7018,1105290257771948038,5.00,5.00,5.00,5.00,5.00,5.00,5.00,4.00
7024,1108325765933400698,5.00,5.00,5.00,5.00,5.00,5.00,5.00,1.00